<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <providers resource="./Config/providers.config"/>

  <database>
    <provider name="ODP.NET Managed" />
    <dataSource name="myOracle" connectionString="User Id=emt;Password=emt;Data Source=(DESCRIPTION=(ADDRESS_LIST= (ADDRESS=(PROTOCOL=TCP) (HOST=127.0.0.1) (PORT=1521))) (CONNECT_DATA = (SERVICE_NAME = xe)))"/>
  </database>

  <!--SQL File-->
  <sqlMaps>
    <sqlMap resource="./Services/Common/sqlFile.xml" />
  </sqlMaps>
</sqlMapConfig>